<% provide(:title, 'About') %>
<h1>About</h1>
<ul><h4>
  <li>The RIT Bike Share program was started to help students navigate across the RIT campus</li> <br />
  <li>These bikes are rented out through the Residential Office in the Kate Gleason Dorm</li> <br />
  <li>The bike share is a student-run project with the help of the RIT administration. As we progress we would love to see
        more students' help to further grow this program.</li> <br/><br/><br/>
</h4></ul>

<h2>For any general questions about the RIT Bike Share please contact <a href="mailto:sgpres@rit.edu">Paul Darragh.</a></h2>
