<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<br>
<h2>For any general questions about the RIT Bike Share please contact <a href="mailto:sgpres@rit.edu">Paul Darragh</a></h2>
<br>
<h2>For any questions regarding appealing any charges you may have incurred please contact <a href="mailto:sgpres@rit.edu">Paul Darragh</a></h2>
<br>
<h2>For any questions about how to become involved in expanding the RIT Bike Share please contact <a href="mailto:sgpres@rit.edu">Paul Darragh</a></h2>

