<% provide(:title, 'FAQ') %>
<h1>Frequently Asked Questions</h1>

<h4>Is this a free service?</h4>
<p>Yes, no one will be charged for joining and utilize this program correctly</p>

<h4>Who can join this program?</h4>
<p>Anyone can use this these bikes, if you are not an RIT Student, Faculty, or Staff then you will have to register
   through an RIT Student, Faculty, or Staff member.</p>

<h4>Are there any fees associated with renting a program?</h4>
<p>Yes, these are not meant to nickle and dime anyone, but to ensure that we can recoup operating and maintenance costs</p>
<ul>
  <li>Free for minor bike issues, such as a popped tire</li>
  <li>5 dollars for every day that the bike is turned in late</li>
  <li>5 dollars for a lost key</li>
  <li>50 dollars for a major bike issue, such as a bent frame</li>
</ul>

<h4>Do I need to wear a helmet?</h4>
<p>No, but we do highly suggest the use of a helmet</p>

<h4>Where do I check out the bikes?</h4>
<p>You can checkout the bikes from the gleason area office</p>


