<% provide(:title, 'FAQ') %>
<h1>Frequently Asked Questions</h1>

<h3>Is this a free service?</h3>
<li><h5>Yes and no.</h5></li>
<li><h5>Yes in that it is free to use the bike share.</h5></li>
<li><h5>No in that there are charges for major damage to the bike or failure to return it in a timely fashion.</h5></li>

<h3>Who can join this program?</h3>
<li><h5>Any RIT Student, Faculty, or Staff can borrow a bike!</h5></li>
<li><h5>We are in the process of allowing friends and family to borrow a bike.</h5></li>


<h3>Are there any fees associated with renting a bicycle?</h3>
<h5>The Rental Service is free; however, there are possible charges for misuse of bikes or the service, These are
  are outlined in the rental agreement and copied below.</h5>
<h6>
  <ul>
    <li>Late return: $5 per 24 hours, not including the holidays/weekends.</li>
    <li>Failure to return bike after 4 weeks: The cost of replacing the bike (Approx. $350).</li>
    <li>Lost Key: $30, to replace the U-Lock.</li>
    <li>Damaged Key: $5, to replace the key.</li>
    <li>Lost Bike:  The cost of replacing the bike (Approx. $350).</li>
    <li>Bike Damage to the point of needing to buy a replacement: The cost of replacing the bike (Approx. $350).</li>
  </ul>
</h6>

<h3>Do I need to wear a helmet?</h3>
<li><h5>Wearing a helmet is strongly recommended. Helmets are not included in the rental.</h5></li>

<h3>Where do I check out a bike?</h3>
<li><h5>The Residential Office in the Kate Gleason Dorm.</h5></li>

<h3>Is there anything that I need to do before borrowing a bike?</h3>
<li><h5>Yes! The one thing that you must do first is to register on this website.</h5></li>
<li><h5>To register for this program, click the login button in the top right.</h5></li>
<li><h5>After logging in click the register button in the top right.</h5></li>
<li><h5>Read and check off that you have read the waiver.</h5></li>
<li><h5>Fill in the necessary information on the registration page.</h5></li>
<li><h5>Click Update User and you are finished!</h5></li>
