<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<p>
you are an admin and I have to add things to this page later!
</p>
<%= image_tag "RITTiger.jpg", {style: "margin-left:340px; text-align:center; vertical-align:middle;" } %>