<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<p>
  This is the home page for the RIT Bike Share Program.

  We are excited to announce that this will be released March 31st.

  More updates to come
</p>
<%= image_tag "RITTiger.jpg", {style: "margin-left:340px; text-align:center; vertical-align:middle;" } %>