<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<h4>
  This is the home page for the RIT Bike Share Program.

  We are excited to announce that this will be released April 7th.

  More updates to come
</h4>