<% provide(:title, 'Home') %>
<h1>Home Page</h1>
</p>

<h3>
  There are <%=number_of_bikes_left %> bikes that are currently available to be checked out
</h3>
<br>

<h3>
  Bikes can only be taken out/dropped off from 8:30 am to 4:30 pm!
</h3>
<br>

<ul><h4>
  <li>This is a service that is FREE to Students, Staff, and Faculty! <h6>As long as you do not abuse it!</h6></li>
  <li>To register for this program, click the Sign In button in the top right.
      After logging in the first time you need to Register to be eligible to checkout a bike.</li><br/>
  <li>More updates to come!</li> <br/><br/><br/>
</h4></ul>
