<% provide(:title, 'Home') %>
<h1>Home Page</h1>
</p>
<ul><h4>
  <li>This is the home page for the RIT Bike Share Program</li> <br />
  <li>We are excited to announce that this will be released April 7th.</li> <br />
  <li>This is a service that is FREE to Students, Staff, and Faculty! <h6>As long as you do not abuse it!</h6></li>
  <li>To register for this program, click the login button in the top right.
      After logging in click the register button in the top right.
      This will lead you through the process of becoming eligable to checkout
      a bike once the program becomes fully functional</li><br/>
  <li>More updates to come!</li> <br/><br/><br/>
</h4></ul>