<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<p>
  There are currently <%=number_of_bikes_left %> bikes that are available to be checked out currently
</p>
<%= image_tag "RITTiger.jpg", {style: "margin-left:340px; text-align:center; vertical-align:middle;" } %>