<% provide(:title, 'Quiz') %>
<h1>Quiz</h1>

<% @survey = Survey::Survey.find(1) %>
<% if @survey.nil? %>
    <p>
      <%= current_user.email %> there are not Active Surveys right now.
    </p>
<% elsif @survey.avaliable_for_participant?(current_user) %>
    <%= render 'contests/attempts/form' %>
<% else %>
    <p>
      <%= current_user.email %> spent all the possible attempts to answer this Survey
    </p>
<% end -%>