<% provide(:title, 'Register') %>

<section id="backend" class="content-section" >
        <div class="backend-section">
            <div class="container" style="padding-top: 150px;">
                <div class="col-lg-9 col-lg-offset-2 inside">
                    <h2>Register</h2>
                    <iframe src="https://docs.google.com/a/g.rit.edu/file/d/0BxFVFuWCRDh5N2dCeU5OM3puc3M/preview" frameborder="no" height="550" scrolling="no" width="100%"></iframe>
                    <br />
                    <h4>For tips and information about riding bikes please read the links below:</h4>
                    <ul>
                        <li><h6><a href="http://www.safeny.ny.gov/media/share-road.htm">New York State’s “Sharing the Road Safely”</a></h6></li>
                        <li><h6><a href="http://www.rochestercyclingalliance.org/wp-content/uploads/2012/10/Bike-Safety-English-final-July-17-2012.pdf">Rochester Cycling Alliance’s “Keep Riding, Bike Safely”</a></h6></li>
                    </ul>
                        <br/>
                    <%= form_for(@user) do |f| %>
                        <h4><%= f.check_box :registered %>By checking this box I am acknowledging that I am 18 years or older, have read the bike links above, and have read and agreed to the terms above</h4>
                        <br />
                        <p>
                            Please enter your Phone Number below. This will only be used in case we need to contact you.
                        </p>
                        <%= f.text_field :phone_number %>
                        <br/>
                        <%= f.submit %>
                    <% end %>


                </div>
            </div>
        </div>
    </section>
