<% provide(:title, 'Register') %>
<h1>Register</h1>
    <%= image_tag "FreshmenWelcomeSpeech.jpg", {style: "margin-left:-110px; text-align:center; vertical-align:middle;" } %>
    <br/>
    <br/>
    If you cannot see the above pdf please <a href="https://drive.google.com/a/g.rit.edu/file/d/0BxFVFuWCRDh5QlZ4Y29kaHVjV2M/edit?usp=sharing">
       click here </a>
    <br/>
    <br/>
    <br/>
<%= form_for(@user) do |f| %>
    <h4><%= f.check_box :registered %>By checking this box I am acknowledging that I am 18 years or older"</h4>
    <br/><br/>
    <%= f.submit %>
<% end %>