<h3> Thanks for checking out a bike!</h3>
<br>
<h4>Please provide us with any feedback about the program at bikeshare.rit.edu</h4>
<br>
<h5>Just a reminder that bikes can only be taken out/dropped off from 8:30 am to 4:30 pm!</h5>
<br>
<p>Have a safe and fun ride!</p>
<br>
<p>RIT Bike Share</p>
<p>RIT Student Government</p>
<p>Building 03-1710</p>
<p>Phone Number (585) 475 - 4043</p>