<h1>The Bike that you are using needs to be returned immediately!</h1>
<h3>Please return the bike that you have in your possession</h3>
<h3>If you have any questions please direct them to The Director of Services: sgsvcs@rit.edu</h3>
<%= image_tag "RITTiger.jpg", {style: "margin-left:340px; text-align:center; vertical-align:middle;" } %>