<h1>Listing cant_check_out_bikes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cant_check_out_bikes.each do |cant_check_out_bike| %>
      <tr>
        <td><%= link_to 'Show', cant_check_out_bike %></td>
        <td><%= link_to 'Edit', edit_cant_check_out_bike_path(cant_check_out_bike) %></td>
        <td><%= link_to 'Destroy', cant_check_out_bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cant check out bike', new_cant_check_out_bike_path %>
