<%= form_for(@maintenance_report) do |f| %>
  <% if @maintenance_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance_report.errors.count, "error") %> prohibited this maintenance_report from being saved:</h2>

      <ul>
      <% @maintenance_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
