<h1>Listing maintenance_reports</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_reports.each do |maintenance_report| %>
      <tr>
        <td><%= link_to 'Show', maintenance_report %></td>
        <td><%= link_to 'Edit', edit_maintenance_report_path(maintenance_report) %></td>
        <td><%= link_to 'Destroy', maintenance_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance report', new_maintenance_report_path %>
