<p id="notice"><%= notice %></p>

<p>
  <strong>Feedback:</strong>
  <%= @feedback_form.feedback %>
</p>

<%= link_to 'Edit', edit_feedback_form_path(@feedback_form) %> |
<%= link_to 'Back', feedback_forms_path %>
