<footer class="footer">
  <small>
    Bikes brought to you by Student Government
  </small>
  <nav>
    <ul>
      <li><a href="http://www.rit.edu/sg/aboutus.php">About Us</a></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.rit.edu/sg/">Student Government</a></li>
    </ul>
  </nav>
</footer>
